body {
    background-color: rgba(95, 158, 160, 0.4);
}
.sortir{
    color: black;
    font-size: 3em;
    font-weight: 900;
    padding: 9%;
}
.navbar{
    background-color: rgba(148, 241, 241, 0.96);
    font-weight: 900;
}
.navbar{
    background-color: rgba(148, 241, 241, 0.96);
}
.nav-item{
    margin-left: 10px;
}
.navbar-nav{
    color: black;
    font-size: 1.5em;
    font-weight: 900;
}
.nav-link:hover {
    color: white !important;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
    text-align: center;
    color: black;
    font-size: 0.5em;
    background-color: rgba(148, 241, 241, 0.96);
    font-weight: 700;
}
.card-body{
    background-color: rgba(148, 241, 241, 0.96);
}
.container-login{
    color: black;
    font-size: 1.5em;
    font-weight: 900;
}
.checkbox-remember{
    font-size: 0.8em;
    font-weight: 400;
}
.column-1, .column-2, .column-3 {
    font-size: 0.9rem;
}
.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement les éléments */
    height: 4rem;
}
.column-2 div {
    height: 1.4rem;
}
.table-container {
    max-height: 150px; /* Ajuste la hauteur selon tes besoins */
    overflow-y: auto; /* Ajoute un ascenseur vertical */
}
.container-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.red-text {
    color: red;
}
.bold-text {
    font-weight: bold;
}
.actif-color {
    color: rgb(60, 222, 60);
}
.inactif-color {
    color: rgb(222, 60, 60);
}
.table-container-user {
    max-height: 420px;
    overflow-y: auto;
}
.container-user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 39vw;
}
.profile-content {
    display: flex;
    align-items: center;
}
.photo-profile {
    width: 30vw;
    text-align: center;
    user-select: none;
}
.photo-profile img {
    padding-left: 2%;
}
.table-profile {
    background-color: rgba(245, 245, 245, 0.3);
    border-radius: 5px;
    padding: 20px;
}
.table-profile td {
    padding: 10px;
}


/*MEDIA*/
@media (max-width: 1024px) {
    .sortir {
        font-size: 2.5em; /* Ajustement de la taille de la police */
        padding: 6%;
    }
}
/* Pour les mobiles (écrans de petite taille) */
@media (max-width: 768px) {
    .sortir {
        font-size: 2em; /* Encore plus petit pour mobiles */
        padding: 4%;
    }
}
/* Pour très petits écrans ou très petits appareils mobiles */
@media (max-width: 480px) {
    .sortir {
        font-size: 1.5em; /* Police plus petite pour petits écrans */
        padding: 3%;
    }
}
/*message flash*/
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}